/* ======================
    1. Global styles
    2. Typography styles
    3. Structure styles
    4. Module styles
    5. Component styles
    6. Page styles
========================= */ 

/* 1. Global Styles */
* {
    font-family: Arial, Helvetica, sans-serif;
}

html {
    overflow-x: auto;
    width: 100%;
}

body {
    overflow-x: auto;
    width: 100%;
    text-rendering: optimizeLegibility;
    background-color: black;
}

/* 2. typography */
h1,
h2,
h3 {
    font-weight: 700;
    text-align: center;
    line-height: 1.25;
    padding: 5px;
    transition: font-size 0.25s ease;
    color: yellow;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 22px;
}
h3 {
    font-size: 18px;
}

.role,
.text,
.information,
.accompaniment {
    font-size: 18px;
    line-height: 28px;
    color: white;
}

p,
li,
a {
    font-size: 18px;
    text-decoration: none;
    color: white;
}

/* 3. Structure Styles */

/* 4. module styles */
.accompaniment {
    display: none; /* hidden for now */
}
.information {
    display: none; /* hidden, for now */
    
}
.priest {
    background-color: blue;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    max-width: 500px;
}
.deacon {
    background-color: crimson;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    max-width: 500px;
}
.choir,
.congregation {
    background-color: indigo;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    max-width: 500px;
}

@media screen and (min-width: 1000px) {
    article {
        max-width: 500px;
    }
}

@media screen and (max-width: 1000px) {
    article {
        padding: 15px;
        max-width: 800px;
    }
}
