* {
    font-family: Arial, Helvetica, sans-serif;
}


h1 {
    color: darkblue;
    font-weight: bold;
    font-size: 30px;
    text-align: left;
}

h2 {
    color: darkblue;
    font-size: 20px;
    font-weight: bold;
}
h3 {
    color: darkblue;
    font-size: 18px;
    font-weight: bold;
}

p, 
li {
    color: black;
    font-size: 14px;
}

/* Table styling */
.styled-table {
    width: 100%;
    border-collapse: collapse;
    margin: 12px 0;
    text-align: left;
    border: 1px solid lightgray;
}

.styled-table thead tr {
    background-color: darkblue;
    font-size: 14px;
    color: white;
    text-align: left;
}

.styled-table td {
    font-size: 14px;
}

.styled-table th, .styled-table td {
    padding: 12px 15px;
    border: 1px solid lightgray;
}

.styled-table tbody tr {
    border-bottom: 1px solid lightgray;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: lightgray;
}
