* {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 24px;
    text-align: left;
}

h2 {
    color: blueviolet;
    font-family: helvetica;
    font-size: 20px;
    font-weight: bold;
}
