h1 {
    color: khaki;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 100px;
    text-align: center;
}

h2 {
    color: white;
    font-family: helvetica;
    font-size: 32px;
    font-weight: bold;
}

a {
    color: blue;
    font-family: helvetica;
    font-weight: bold;
}